html, body {
  height: 100%;
  min-height: 100%;
}

body {
  position: relative;
  overflow-x: hidden;
  font-family: @Roboto;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  &:hover, &:active, &:focus {
    color: initial;
    text-decoration: none;
    outline: none;
  }
}

img {
  height: auto;
  width: auto;
  max-height: 100%;
  max-width: 100%;
}

input, textarea, button, select {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
}

.section-container {
  width: 100%;
  max-width: 1216px;

  margin: 0 auto;
  @media only screen and (max-width: 1350px) {
    width: 80%;
  }
  @media only screen and (max-width: 1199px) {
    width: 89%;
  }
  @media only screen and (max-width: 991px) {
    width: 83%;
  }
  @media only screen and (max-width: 768px) {
    margin-left: 0;
    width: 88.41%;
  }
  @media only screen and (max-width: 545px) {
    width: 94%;
  }
}

.up-button {
  position: relative;
  height: 42px;
  width: 42px;
  top: -13px;
  left: -5px;
  display: inline-block;
  text-align: center;
  background: url("../img/button-up.png") 0 0 no-repeat;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
  &:hover {
    background-position: 0 -42px;
  }
}

footer {
  position: relative;
  width: 100%;
  &:after, &:before {
    position: absolute;
    top: 8px;
    height: 9px;
    content: '';
    width: 50%;
  }
  &:after {
    left: 0;
    background-color: #829665;
  }
  &:before {
    right: 0;
    background-color: #302f2f;
  }
  .up-button-block {
    font-size: 0;
  }
  .footer-wrap {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    max-width: 415px;
    position: relative;
    background-color: #fff;
    z-index: 5;
    @media only screen and (max-width: 670px) {
      max-width: 215px;
    }
  }
  .footer-desription {
    text-align: center;
    margin: 17px 0 100px;;
    color: #102323;
    font: 14px @Forum;
    @media only screen and (max-width: 768px) {
      margin-bottom: 40px;
    }
  }
}

.request-button {
  width: 220px;
  height: 55px;
  display: inline-block;
  text-align: center;
  background-color: #829665;
  color: #ffffff;
  text-transform: uppercase;
  font: 14px/55px @Roboto-Black;
  &:hover {
    color: #102323;
  }
  @media only screen and (max-width: 670px) {
    width: 160px;
    height: 43px;
    line-height: 43px;
    font-size: 14px;
    letter-spacing: normal;
  }
}

.button-read-more {
  width: 220px;
  height: 59px;
  display: inline-block;
  text-align: center;
  border: 2px solid #829665;
  background-color: #829665;
  color: #ffffff;
  text-transform: uppercase;
  font: 14px/59px @Roboto-Black;
  letter-spacing: 2.8px;
  &:hover {
    color: #102323;
    border-color: #102323;
    background-color: transparent;
  }
  @media only screen and (max-width: 670px) {
    width: 108px;
    height: 29px;
    font-size: 14px;
    line-height: 29px;
    letter-spacing: normal;
  }
}

.button-read {
  width: 204px;
  height: 70px;
  background-color: #829665;
  color: #ffffff;
  font: 16px/70px @Roboto-Bold;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  letter-spacing: 2.8px;
  &:hover {
    color: #102323;
  }
  @media only screen and (max-width: 768px) {
    width: 141px;
    height: 49px;
    font-size: 14px;
    line-height: 49px;
    letter-spacing: normal;
  }
}

.partners-form-button {
  width: 221px;
  height: 63px;
  background-color: #829665;
  display: inline-block;
  color: #ffffff;
  font: 16px/63px @Roboto-Bold;
  letter-spacing: 1.6px;
  border: 2px solid #829665;
  cursor: pointer;
  transition: border .3s, color .3s, background-color .3s;
  &:hover {
    border: 2px solid #102323;
    color: #102323;
    background-color: transparent;
  }
  @media only screen and (max-width: 670px) {
    border-width: 1px;
    width: 174px;
    height: 50px;
    line-height: 50px;
    letter-spacing: normal;
  }
}

.section-title-block {
  &:extend(.flex);
  flex-direction: column;
  align-items: flex-start;
  font-family: @Roboto-Black;
  text-transform: uppercase;
  line-height: 0.8;
  .section-number-line {
    font-size: 36px;
    color: #829665;
    letter-spacing: 2px;
    &:after {
      display: inline-block;
      height: 9px;
      background-color: #829665;
      content: '';
      width: 146px;
      vertical-align: bottom;
      margin-left: 21px;
      position: relative;
    }
  }
  .section-title-name {
    font-size: 48px;
    color: #102323;
    margin-top: 40px;
    letter-spacing: 4px;
  }
  @media only screen and (max-width: 545px) {
    .section-number-line{
      font-size: 30px;
      &:after{
        width: 126px;
        margin-left: 13px;
      }
    }
    .section-title-name{
      font-size: 28px;
      margin-top: 10px;
    }
  }
}

.navigation-list {
  position: fixed;
  top: 50%;
  right: 3.2291%;
  transform: translateY(-50%);
  width: 50px;
  z-index: 100;
  li {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 49px;
    font-size: 0;
    line-height: 1;
    &.active {
      .navigation-item {
        width: 100%;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        background-color: #102323;
        border-color: #102323;
        height: 8px;
      }
    }
    .navigation-item {
      animation-fill-mode: none;
      display: inline-block;
      height: 11px;
      width: 11px;
      border: 1px solid #8c8c8c;
      background-color: transparent;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      position: relative;
      &:hover {
        background-color: #102323;
        border-color: #102323;
      }
    }
  }
  @media only screen and (max-width: 768px) {
    right: 6.5%;
    width: 30px;
    li{
      margin-bottom: 28px;
      &.active .navigation-item{
        height: 5px;
      }
      .navigation-item{
        width: 7px;
        height: 7px;
      }
    }
  }
  @media only screen and (max-width: 545px) {
    right: 9px;
    width: 13px;
    li{
      margin-bottom: 24px;
    }
  }
}

.social-list {
  width: 100%;
  display: block;
  font-size: 0;
  text-align: center;
  li {
    text-align: center;
    font-size: 0;
    line-height: 1;
    a {
      font-size: 23px;
      color: #302f2f;
      line-height: 1;
      .fa {
        line-height: 1;
      }
      &:hover {
        color: #c5cbcc;
      }
    }
  }
}

.page-title {
  font: 24px @Roboto-Bold;
  width: 100%;
  text-align: left;
}

.page-border-line {
  width: 100%;
  text-align: left;

  span {
    display: inline-block;
    width: 151px;
    height: 9px;
    background-color: #829665;
  }
}

.page-block-title {
  color: #292929;
  font: 14px @Roboto-Bold;
  text-transform: uppercase;
  letter-spacing: 2.4px;
}

.page-block p {
  margin-bottom: 20px;
}

.page-block-description {
  color: #000000;
  font: 16px @Forum;
  b, strong {
    font-family: @Roboto-Bold;
    font-weight: normal;
  }
  b {
    display: block;
  }
}

.page-section {
  width: 100%;
  //max-width: 1216px;
  margin: 0 auto;
  .page-content {
    &:extend(.flex);
  }
  &.page-service {
    max-width: 1316px;
    padding: 0 50px;
    .page-title {
      margin: 90px 0;
    }
    .page-block {
      width: 26.15%;
      margin-right: 10.775%;
      margin-bottom: 40px;
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
    .page-border-line {
      margin: 50px 0;
    }
    @media only screen and (max-width: 768px) {
      .page-block {
        width: 44.6125%;
        &:nth-child(3n) {
          margin-right: 10.775%;
        }
        &:nth-child(2n) {
          margin-right: 0;
        }
        b {
          margin-bottom: 20px;
        }
      }

      .page-border-line {
        margin-bottom: 35px;
      }
    }
    @media only screen and (max-width: 480px) {
      padding: 0 33px;
      .page-title {
        margin: 50px 0 35px;
      }

      .page-content {
        justify-content: center;
      }

      .page-block {
        width: 63%;
        margin-right: 0 !important;
        margin-bottom: 20px;
      }

      .page-border-line {
        margin: 16px 0 25px;
      }
    }
  }
  &.page-about {
    max-width: 1300px;
    padding-left: 39px;
    padding-right: 44px;
    margin-bottom: 125px;
    .page-about-info {
      margin-top: 90px;
      width: 100%;
      max-width: 685px;
      .page-title {
        margin-bottom: 50px;
      }
      p {
        margin-bottom: 20px;
      }
    }
    .page-content .page-title {
      margin: 20px 0 75px;
    }
    .page-block {
      width: 26.15%;
      margin-right: 10.775%;
      margin-bottom: 45px;
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
    .page-border-line {
      margin-bottom: 45px;
    }

    @media only screen and (max-width: 768px) {
      .page-block {
        width: 28.15%;
        margin-right: 7.775%;
      }

      .page-border-line {
        margin-bottom: 35px;
      }

      .page-about-info {
        margin-top: 40px;
        .page-title {
          margin-bottom: 20px;
        }
      }

      .page-content .page-title {
        margin: 0px 0 40px;
      }
    }
    @media only screen and (max-width: 670px) {
      margin-bottom: 0;
      .page-title, .page-block-description {
        font-size: 14px;
      }

      .page-content .page-title {
        margin: 0px 0 40px;
        padding: 0 12px;
      }
    }
    @media only screen and (max-width: 600px) {
      .page-content {
        flex-direction: column;
        align-items: center;
      }

      .page-block {
        width: 69.19%;
        margin-right: 0;
      }

      .page-border-line {
        margin-bottom: 25px;
      }
    }
  }
  &.page-partners {
    max-width: 1315px;
    padding-left: 32px;
    padding-right: 67px;
    .page-partners-info {
      margin: 85px 0 50px;
      width: 100%;
      max-width: 550px;
      p {
        margin-bottom: 20px;
      }
      .page-border-line {
        margin: 20px 0 45px;
      }
    }
    @media only screen and (max-width: 768px) {
      .page-partners-info {
        padding-left: 20px;
        margin: 67px 0 23px;
      }

    }
    @media only screen and (max-width: 670px) {
      padding: 0 30px;
      .page-partners-info {
        padding-left: 0;
        margin: 45px 0 20px;
        .page-border-line {
          margin: 18px 0 26px;
        }
      }
    }
  }
}

.partners-form {
  &:extend(.flex);
  margin-bottom: 71px;
  .left-column, .right-column {
    max-width: 518px;
    width: 100%;
    text-align: center;
  }
  .left-column {
    margin-right: 80px;
  }
  input, textarea {
    width: 100%;
    border: 1px solid #102323;
    outline: none;
    box-shadow: none;
    margin-bottom: 49px;
    color: #102323;
    font: 16px @Forum;
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #aaaeaf;
      font: 16px @Forum;
      letter-spacing: 1.6px;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: #aaaeaf;
      font: 16px @Forum;
      letter-spacing: 1.6px;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: #aaaeaf;
      font: 16px @Forum;
      letter-spacing: 1.6px;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: #aaaeaf;
      font: 16px @Forum;
      letter-spacing: 1.6px;
    }
    &:focus {
      &::-webkit-input-placeholder {
        color: transparent;
      }
      &:-moz-placeholder {
        color: transparent;
      }
      &::-moz-placeholder {
        color: transparent;
      }
      &:-ms-input-placeholder {
        color: transparent;
      }
    }
  }
  input {
    height: 85px;
    line-height: 85px;
    padding: 0 30px;
  }
  textarea {
    min-height: 206px;
    padding: 30px;
  }

  @media only screen and (max-width: 1215px) {
    .left-column, .right-column {
      width: 47.53%;
    }

    .left-column {
      margin-right: 4.94%;
    }
  }
  @media only screen and (max-width: 768px) {
    input {
      height: 73px;
      line-height: 73px;
    }

    input, textarea {
      margin-bottom: 45px;
    }

    textarea {
      min-height: 191px;
    }
  }
  @media only screen and (max-width: 540px) {
    justify-content: center;
    .left-column, .right-column {
      width: 86.53%;
    }

    .left-column {
      margin-right: 0;
    }

    input {
      height: 52px;
      line-height: 52px;
      padding: 0 24px;
    }

    textarea {
      padding: 18px 18px 18px 24px;
      min-height: 150px;
    }

    input, textarea {
      margin-bottom: 19px;
      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        font-size: 12px;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        font-size: 12px;
      }
      &:-moz-placeholder { /* Firefox 18- */
        font-size: 12px;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        font-size: 12px;
      }
    }
  }
}

.page-layout {
  footer {
    border-bottom: 1px solid #000;
  }
  @media only screen and (max-width: 768px) {
    .menu-wrap {
      .menu-block {
        width: 82.55%;
        .menu-list li .menu-item {
          font-size: 14px;
        }
      }
      .menu-logo-block {
        width: 17.45%;
        background: url('../img/logo-mobile.png') center center no-repeat;
        background-size: auto 70%;
        img {
          display: none;
        }
      }
    }

    .contact-form-wrap {
      height: 107px;
      min-height: auto;
      & > * {
        display: none;
      }
    }
  }
  @media only screen and (max-width: 670px) {
    .contact-form-wrap {
      height: 64px;
    }
  }
}

.hidden-mobile {
  @media only screen and (max-width: 670px) {
    display: none;
  }
}

.hidden-tablet {
  @media only screen and (max-width: 768px) {
    display: none;
  }
}