<div class="menu-wrap">
    <!--<div class="menu-logo-block">-->
        <!--<img src="/img/logo-black.png" alt="">-->
    <!--</div>-->
    <div class="menu-block">
        <ul class="menu-list">
            <li class="active"><a href="#" class="menu-item"><span>01</span> HOME</a></li>
            <li><a href="#" class="menu-item"><span>02</span> ABOUT US</a></li>
            <li><a href="#" class="menu-item"><span>03</span> SERVICE</a></li>
            <li><a href="#" class="menu-item"><span>04</span> partners</a></li>
            <li><a href="#" class="menu-item"><span>05</span> CONTACT</a></li>
        </ul>
    </div>
</div>