<div class="contact">
    <div class="contact-form-wrap">
        <div class="contact-form-desription">
            <div class="contact-form-title">We’d like to hear from you</div>
            <div class="contact-form-info">Please select a category and complete the form to submit your enquiry. Add
                your comments so we can respond promptly to your question.
            </div>
        </div>
        <div class="contact-form-block">
            <form action="" class="contact-form">
                <input type="email" placeholder="E-mail">
                <input type="text" placeholder="Name">
                <button class="contact-form-button">send</button>
            </form>
        </div>
    </div>
    <div class="contact-logo-block">
    <img src="/img/logo-black.png" alt="">    
    </div>

    <div class="contact-information-block">
    <p>+86 185 2150 5122</p>
    <p>info@enjoytrading.com</p>
    </div>
<div class="contact-social-block">
    <ul class="social-list">
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
    </ul>
</div>
</div>

<footer>
    <div class="footer-wrap">
        <div class="up-button-block">
      <a href='#' class="up-button"></a>
      </div>
      <div class="footer-desription">
          Copyright &copy 2018 STEAK LAB / studio design
      </div>
    </div>
</footer>